@import "tailwindcss";

@plugin "tailwindcss-animate";

@layer base {
  body {
    @apply scroll-smooth;
    @apply overflow-x-hidden;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

* {
  background-color:  #F1F2FA;
}